{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="block left-menu"></div>
        </div>

        <div class="col-6 content">
                <div class="card">
                    <div class="card-body">
                        <div>

                        </div>

                        <h3 color="brown" align="center">Твои Единомышленники ({{amount}})</h3>
                        <hr>
                        {% if not friends %}
                            {{ error }}
                        {% else %}

                            {% for friend in friends %}
                            <table width="100%" cellspacing="0" cellpadding="5">
                                   <tr>
                                       <td align="center"><a href="{{ friend.get_absolute_url }}">{{ friend }}</a></td>
                                       <td align="center"><a href="{% url 'home' %}" color="green">Фолловить</a></td>
                                   </tr>
                            </table>

                            {% endfor %}

                            </p>
                        {% endif %}
                    </div>
                </div>
        </div>

        <div class="col-3">
            <div class="block" style="text-align: center;">
                <h3 color="purple"><em>@{{ user.username }} </em></h3>
                {% if user.profile.avatar.name %}
                    <img src="{{ user.profile.avatar.url }}" class="mainpage-avatar-img-lg img-thumbnail" >
                {% else %}
                    <img src="{% static 'img/defaultava.png' %}" class="mainpage-avatar-img img-thumbnail" >
                {% endif %}

                <div class="right-menu-links">
                    <a href="{% url 'profile' user.username %}" class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-user-circle"></i> Мой профиль
                    </a>
                    <a href="{% url 'edit_profile' %}" class="btn btn-outline-success btn-sm">
                        <i class="fa fa-pencil-square"></i> Редактировать
                    </a>
                    <br>
                    <a href="{% url 'logout' %}">
                        <i class="fa fa-users"></i> Выйти
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}