{% extends 'base.html' %}

{% load my_filters %}
{% load static %}

{% block title %}Feed{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="block left-menu" style="text-align: center;">
                    <h4><em>Уведомления:</em></h4><br>
                </div>
            </div>


            <div class="col-6 content">
                <div class="card">
                    <div class="card-body">
                        <form method="post" name="new-post-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea class="form-control form-control-sm" type="text" name="text"
                                      placeholder="Что нового?"></textarea>
                            <label for="image" color="orange"><em>Прикрепить картинку:</em></label>
                            <span><input class="form-control form-control-sm" type="file" name="image" aria-label="Прикрепить изображение"></span>
                            <input class="form-control btn btn-outline-success btn-sm" type="submit" value="Добавить публикацию">
                        </form>
                    </div>
                </div>



                <div class="timeline">
                    {% for post in posts %}
                        <div class="card">
                            <div class="card-body post">
                                <div class="post-title">
                                    {% if post.author.profile.avatar.name %}
                                        <img src="{{ post.author.profile.avatar.url }}" class="post-author-img img-thumbnail">
                                    {% else %}
                                        <img src="{% static 'img/defaultava.png' %}" class="post-author-img img-thumbnail">
                                    {% endif %}
                                    <div class="post-author">
                                        {{ post.author.get_full_name }}
                                    </div>
                                    <div class="post-datetime">
                                        {{ post.datetime|date:"d M Y H:i" }}
                                    </div>
                                </div>
                                {% if post.image.name %}
                                    <img src="{{ post.image.url }}" class="img-thumbnail"><br>
                                {% endif %}
                                <div class="post-text">
                                    {{ post.text|default_if_none:""|linebreaks|urlize }}
                                </div>
                            </div>

                            <div class="card-footer">   <!-- Под постом -->
                                <div id="comments-list-post-{{ post.id }}">  <!-- Мы находимсмя внутри каждого поста -->
                                    {% for comment in post.comments.all %}   <!-- Вывод всех комментов -->
                                        {% place_comment comment %}
                                    {% endfor %}
                                </div>

                                <div class="comment-form">   <!--  форма отправки -->
                                    {% if post.author.profile.avatar.name %}
                                        <img src="{{ post.author.profile.avatar.url }}" class="post-author-img img-thumbnail">
                                    {% else %}
                                        <img src="{% static 'img/defaultava.png' %}" class="post-author-img img-thumbnail">
                                    {% endif %}

                                    <!-- <form method="POST" + csrf   comments are not saved!! -->
                                    <form method="post" style="display: flex; margin-top: 4px;">
                                        {% csrf_token %}
                                        <input class="form-control form-control-sm comment-input"
                                               placeholder="Оставить комментарий"  data-post-id="{{ post.id }}">
                                        <input class="btn btn-outline-success btn-sm" type="submit" value="Комментировать">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <!-- separate profilemenu html-->
            <div class="col-3">
                <div class="block" style="text-align: center;">
                    <h3 color="purple"><em>@{{ user.username }} </em></h3>
                    {% if user.profile.avatar.name %}
                        <img src="{{ user.profile.avatar.url }}" class="mainpage-avatar-img-lg img-thumbnail" >
                    {% else %}
                        <img src="{% static 'img/defaultava.png' %}" class="mainpage-avatar-img img-thumbnail" >
                    {% endif %}

                    <div class="right-menu-links">
                        <a href="{% url 'profile' user.profile.nick %}" class="btn btn-outline-primary btn-sm">
                            <i class="fa fa-user-circle"></i> Мой профиль
                        </a>
                        <a href="{% url 'edit_profile' %}" class="btn btn-outline-success btn-sm">
                            <i class="fa fa-pencil-square"></i> Редактировать
                        </a>
                        <br>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-users"></i> Выйти
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}